body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
canvas {
    border: 1px solid #000;
}
#board {
    /* background-color: skyblue; */ /* You can uncomment this line if you want to set a background color */
    background-image: url("./flappybirdbg.png"); /* Set the background image */
    background-size: cover; /* Cover the entire element with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

#playAgainButton {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #00ff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}